<?xml version='1.0' encoding='utf-8'?>
<odoo>
    <!-- This Menu Item must have a parent and an action -->
    <menuitem 
        id="komputertoko_menu_root" 
        name="Toko Komputer" 
        sequence="10"/>

    <!-- This Menu Item must have a parent and an action -->
    <menuitem 
        id="komputertoko_komponen_menu_categ" 
        name="Komponen"
        parent="komputertoko_menu_root"
        sequence="10"/>

    <!-- This Menu Item must have a parent and an action -->
    <menuitem 
        id="komputertoko_pekerja_menu_categ" 
        name="Pekerja"
        parent="komputertoko_menu_root"
        sequence="15"/>

    <!-- This Menu Item must have a parent and an action -->
    <menuitem 
        id="komputertoko_beliservice_menu_categ" 
        name="Beli/Service"
        parent="komputertoko_menu_root"
        sequence="35"/>

     <!-- This Menu Item must have a parent and an action -->
    <menuitem 
        id="komputertoko_lainlain_menu_categ" 
        name="Lain-lain"
        parent="komputertoko_menu_root"
        sequence="40"/>
</odoo>